



::selection {
   color: red;
   background: yellow;
}

::-webkit-scrollbar              { color: gray;width: 12px; }
::-webkit-scrollbar-button       { color: gold; }
::-webkit-scrollbar-track        { -webkit-box-shadow: inset 0 0 6px #006666; 
                                  -webkit-border-radius: 10px;
                                  border-radius: 10px; 
                                  background-color: #a1e3e3;
}
::-webkit-scrollbar-track-piece  { color: red; }
::-webkit-scrollbar-thumb        { -webkit-border-radius: 10px;
                                  border-radius: 10px;
                                  background:#006666; 
                                  -webkit-box-shadow: inset 0 0 6px #006666;  }
::-webkit-scrollbar-corner       { color: red; }
::-webkit-resizer                { color: red; }
::-webkit-scrollbar-thumb:window-inactive {
   background: #26c7c7; 
}
::-moz-selection { /* Code for Firefox */
   color: red;
   background: yellow;
}


.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}